*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none;
}
body{
    background-color: black;
    color: lime;
    display: flex;
    gap: 20px;
    align-items: center;
   margin: 20px;
}